.body{
    background-image: linear-gradient(to left, rgb(3 157 250 / 44%), rgb(0 255 102 / 55%));
    text-align: center;
    font-weight:500;
    font-style: italic;
    font-family: math;
}
#content{
    margin-top: 20px;
}


.table{
    --bs-table-bg: #ffffff59 !important;
}
.dropdown-menu{
    --bs-dropdown-bg: #74f8c08c !important;
}
#select{
    --bs-btn-bg: #68e65d5c !important;
}

.dropdown-item:focus,.dropdown-item:hover{
    background-color: #5ff2b1 !important;
}